.breadcrumbs {
  padding: 9rem 0 3.4375rem;
  @include only-desktop() {
    padding: vw(144) 0 vw(55);
  }
  @include tablet() {
    padding: 6rem 0 2rem;
  }
  @include small-tablet() {
    padding: 4rem 0 2rem;
  }
  &__list {
    display: flex;
  }
  &__item:not(:first-child) {
    .breadcrumbs__link {
      @include flex-all-sb;
      &:before {
        content: "";
        height: 0.625rem;
        width: 0.625rem;
        background: url(../img/ep_arrow-up-bold.svg);
        margin-right: 0.625rem;
        background-size: contain;

        @include only-desktop() {
          height: vw(10);
          width: vw(10);
          margin-right: vw(10);
        }
      }
    }
  }
  &__item:not(:last-child) {
    margin-right: 0.625rem;

    @include only-desktop() {
      margin-right: vw(10);
    }
  }
  &__link {
    font-size: var(--font-lit);
    line-height: 150%;
    color: var(--malenkiy-zagolovok);
    @include only-desktop() {
      font-size: vw(16);
    }
  }
  span.breadcrumbs__link {
    color: var(--chernyy);
  }
}
