.burger {
  width: 40px;
  &__line {
    width: 100%;
    border-radius: 3px;
    height: 3px;
    background: var(--osnovnoy-tekst);

    transition: all 0.3s;
    position: relative;
  }

  &__line + &__line {
    margin-top: 10px;
  }
  &__line {
    &:first-child {
      animation: ease 0.7s top-2 forwards;
    }
    &:nth-child(2) {
      animation: ease 0.7s scaled-2 forwards;
    }
    &:nth-child(3) {
      animation: ease 0.7s bottom-2 forwards;
    }
  }
  &.js-active {
    .burger__line {
      &:first-child {
        animation: ease 0.7s top forwards;
      }
      &:nth-child(2) {
        animation: ease 0.7s scaled forwards;
      }
      &:nth-child(3) {
        animation: ease 0.7s bottom forwards;
      }
    }
  }
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 11px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 15px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
