.form {
  &__radios {
    margin-bottom: 2.5rem;
    @include only-desktop() {
      margin-bottom: vw(40);
    }
    &-label {
      display: block;
      margin-bottom: 1.25rem;
      letter-spacing: -0.03em;
      @include only-desktop() {
        margin-bottom: vw(20);
      }
    }
    &-row {
      @include flex;
      @include tablet {
        margin: 0 -0.9375rem;
        padding: 0 0.9375rem;
        overflow: auto;
        scrollbar-width: none;
        white-space: nowrap;
      }
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: -0.625rem;
    @include only-desktop() {
      margin: -vw(10);
    }
  }
  &__item-container {
    padding: 0.625rem;
    box-sizing: border-box;
    @include only-desktop() {
      padding: vw(10);
    }
    &--w50 {
      width: 50%;
      @include mobile {
        width: 100%;
      }
    }
    &--w100 {
      width: 100%;
    }
  }
  &__item {
    position: relative;
  }
  &__input {
    position: relative;
    display: block;
    width: 100%;
    padding: 1.5rem 1.25rem;
    box-sizing: border-box;
    border-radius: 1.25rem;
    background: var(--seryy-fon-menyu);
    height: 3.75rem;
    border: 1px solid var(--seryy-fon-menyu);
    outline: none;
    transition: 0.4s;
    @include only-desktop() {
      padding: vw(24) vw(20);
      border-radius: vw(20);
      height: vw(60);
    }
    &:focus {
      border-color: var(--siniy);
    }
    &:not(:placeholder-shown) + .form__pseudoplaceholder,
    &:focus + .form__pseudoplaceholder {
      font-size: 0.8rem;
      transform: translateY(0.3125rem);
      @include only-desktop() {
        font-size: vw(12.8);
        transform: translateY(vw(5));
      }
    }
  }
  &__textarea {
    position: relative;
    display: block;
    width: 100%;
    padding: 1.5rem 1.25rem;
    box-sizing: border-box;
    border-radius: 1.25rem;
    background: var(--seryy-fon-menyu);
    height: 9.25rem;
    border: 1px solid var(--seryy-fon-menyu);
    transition: 0.4s;
    outline: none;
    resize: none;
    @include only-desktop() {
      padding: vw(24) vw(20);
      border-radius: vw(20);
      height: vw(148);
    }
    &:focus {
      border-color: var(--siniy);
    }
    &:not(:placeholder-shown) + .form__pseudoplaceholder,
    &:focus + .form__pseudoplaceholder {
      font-size: 0.8rem;
      transform: translateY(5px);
      @include only-desktop() {
        font-size: vw(12.8);
        transform: translateY(vw(5));
      }
    }
  }

  &__pseudoplaceholder {
    position: absolute;
    left: 20px;
    top: 0;
    transform: translateY(1rem);
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--malenkiy-zagolovok);
    pointer-events: none;
    transition: 0.4s;

    @include only-desktop() {
      left: vw(20);
      transform: translateY(vw(16));
    }
  }
  &__policy {
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--osnovnoy-tekst);

    @include only-desktop() {
      font-size: vw(14);
    }
    a {
      color: var(--osnovnoy-tekst);
      text-decoration: underline;
      text-underline-position: under;
    }
  }
  &__bottom {
    @include flex-v-center;
    margin-top: 1.25rem;
    @include only-desktop() {
      margin-top: vw(20);
    }
    @include mobile {
      flex-direction: column;
    }

    &--flex-end {
      justify-content: flex-end;
      @include mobile {
        justify-content: flex-start;
        align-items: flex-start;
      }
      .form__button {
        margin-left: 2.5rem;
        @include only-desktop() {
          margin-left: vw(40);
        }
        @include mobile {
          margin-left: 0;
          margin-top: 1rem;
        }
      }
    }
  }
  &__button {
    &:disabled {
      opacity: 0.2;
    }
  }
}
.radio-btn {
  display: flex;
  cursor: pointer;
  input {
    display: none;

    &:checked + .radio-btn__wrap {
      background: var(--oranzhevyy);
      color: var(--belyy);
    }
  }
  &__wrap {
    border-radius: 0.625rem;
    padding: 0.8125rem 2.1875rem 0.9375rem 2.1875rem;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: var(--osnovnoy-tekst);
    transition: 0.4s;
    @include only-desktop() {
      padding: vw(13) vw(35) vw(15) vw(35);
      border-radius: vw(10);
    }
  }
}
