.main-menu {
  &__list {
    @include flex;
    gap: 3.75rem;
    @include only-desktop() {
      gap: vw(60);
    }
    @include mobile {
      flex-direction: column;
      gap: 40px;
    }
  }
  &__link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: var(--font-default);
    line-height: 110%;
    color: var(--chernyy);
    transition: 0.3s;
    @include only-desktop() {
      font-size: vw(18);
    }
    @include mobile {
      font-size: 1.5rem;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 0%;
      height: 0.125rem;
      top: 100%;
      margin-top: 0.3125rem;
      background: var(--oranzhevyy);
      @include only-desktop() {
        margin-top: vw(5);
      }
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    @include hover {
      &:before {
        width: 100%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      &:after {
        background: transparent;
        width: 100%;
        transition: 0s;
      }
    }

    &:active {
      &::before {
        background-color: var(--siniy);
        z-index: 10;
      }
    }
  }
}
