.our-clients {
  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  &-item {
    height: 8.4375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 0.625rem;
    border-left: 1px solid var(--polosy);

    @include only-desktop() {
      height: vw(135);
      padding: 0 vw(10);
    }
    &:last-child {
      border-right: 1px solid var(--polosy);
    }
    &:hover {
      img {
        filter: none;
      }
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 7.5rem;
      transition: 0.4s;
      filter: grayscale(1);
      @include only-desktop() {
        max-height: vw(120);
      }
    }
  }
}
