.page-head {
  &__row {
    @include flex;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 70px;
    line-height: 128%;
    text-transform: uppercase;
    color: var(--chernyy);
  }
  &__left {
    // max-width: 47.9375rem;
  }
  &__tegs {
    margin-top: 1.0625rem;
  }
  &__right {
    padding-top: 0.75rem;
    max-width: 52.875rem;
    margin-left: 1rem;
    width: 100%;
    line-height: 150%;
  }

  &__button {
    margin-top: 3.4375rem;
  }

  b,
  strong {
    font-weight: 500;
    color: var(--chernyy);
  }
}
