.section {
  &--default-padding {
    padding: 65px 0;
  }
  &--padding-top-big {
    padding: 113px 0 65px;
  }
  &--medium-padding {
    padding: 87px 0 65px;
  }

  &__head {
    margin-bottom: 120px;
    &--medium {
      margin-bottom: 100px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: var(--font-big);
    line-height: 128%;
    text-transform: uppercase;
    color: var(--chernyy);
  }

  &__footer {
    display: flex;
    margin-top: 4.625rem;
    &--flex-end {
      justify-content: flex-end;
    }
  }
}

main .section:last-child {
  padding-bottom: 120px;
}
