.social {
  &__list {
    display: flex;
    gap: 20px;
    &--big-gap {
      gap: 40px;
    }
  }

  &__link {
    svg {
      height: 30px;
      width: 30px;
    }

    &--white {
      svg {
        fill: #fff;
      }
    }
    &--grey {
      svg {
        fill: rgba(#fff, 0.4);
      }
    }
  }
}
