.social {
  &__list {
    @include flex-all-sb;
    gap: 20px;
  }

  &__link {
    svg {
      height: 30px;
      width: 30px;
    }

    &--white {
      svg {
        fill: #fff;
      }
    }
  }
}
