.social {
  &__list {
    display: flex;
    gap: 1.25rem;
    @include only-desktop() {
      gap: vw(20);
    }
    &--big-gap {
      gap: 2.5rem;
      @include only-desktop() {
        gap: vw(40);
      }
    }
  }

  &__link {
    svg {
      height: 30px;
      width: 30px;
      @include only-desktop() {
        height: vw(30);
        width: vw(30);
      }
    }

    &--white {
      svg {
        fill: #fff;
      }
    }
    &--grey {
      svg {
        fill: rgba(#fff, 0.4);
      }
    }
  }
}
