.tegs {
  &__list {
    @include flex;
  }
  &__item + &__item {
    margin-left: 30px;
  }
  &__link {
    line-height: 110%;
    text-transform: lowercase;
    color: var(--oranzhevyy);
    transition: 0.4s;

    &--lit {
      font-size: var(--font-lit);
    }

    &--default {
      font-size: var(--default);
      letter-spacing: -0.03em;
    }
  }
}
