<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__head">
        <h2 class="footer__title">
          Давайте обсудим ваш проект
        </h2>
        <button class="footer__button button button--default button--font-lit button--size-default">
          Начать проект
        </button>
        <nav class="footer__social social">
          <ul class="social__list list-reset">
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="">
                  <use xlink:href="img/sprite.svg#teleg"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="">
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="">
                  <use xlink:href="img/sprite.svg#be"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__menu">
        <h4 class="footer__menu-title">
          Услуги
        </h4>
        <ul class="footer__list list-reset">
          <li class="footer__item">
            <a class="footer__link" href="#">Создание сайтов</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Сопровождение сайтов</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Поисковое продвижение seo</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">SMM продвижение</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Битрикс 24</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Контекстная реклама</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Дизайн</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Аналитика</a>
          </li>
        </ul>
      </div>
      <div class="footer__menu">
        <ul class="footer__list list-reset">
          <li class="footer__item">
            <a class="footer__link footer__link--medium" href="#">Отраслевые решения</a>
          </li>
          <li class="footer__item">
            <a class="footer__link footer__link--medium" href="#">Портфолио</a>
          </li>
          <li class="footer__item">
            <a class="footer__link footer__link--medium" href="#">Студия</a>
          </li>
          <li class="footer__item">
            <a class="footer__link footer__link--medium" href="#">Блог</a>
          </li>
          <li class="footer__item">
            <a class="footer__link footer__link--medium" href="#">Акции</a>
          </li>
        </ul>
      </div>
      <div class="footer__contacts contacts">
        <ul class="contacts__list list-reset">
          <li class="contacts__item">
            <a class="contacts__link"  href="tel:+74712745646">+7 4712 74-56-46</a>
            <div class="contacts__label">отдел продаж</div>
          </li>
          <li class="contacts__item">
            <a class="contacts__link"  href="tel:+79207091729">+7 920 709-17-29</a>
            <div class="contacts__label">бесплатно по России</div>
          </li>
          <li class="contacts__item">
            <a class="contacts__link"  href="mailto:info@plastilin-art.ru">info@plastilin-art.ru</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copy">
        © <span class="footer__copy-year">2024</span> Plastilin Art
      </div>
      <a class="footer__link" href="#">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
