<header class="header">
  <div class="container">
    <div class="header__row">
        <a class="header__logo logo" href="/">
          <img src="img/logo.svg" alt="">
        </a>
        <div class="header__main-menu main-menu">
          <nav class="main-menu__nav">
            <ul class="main-menu__list list-reset">
              <li class="main-menu__item"><a class="main-menu__link" href="#">Услуги</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="#">Отраслевые решения</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="#">Портфолио</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="#">Студия</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="#">Блог</a></li>
              <li class="main-menu__item"><a class="main-menu__link" href="#">Акции</a></li>
            </ul>
          </nav>
        </div>
        <div class="header__right-side">
          <a class="header__phone" href="tel:+79207091729">+7 920 709-17-29</a>
          <nav class="header__social social">
            <ul class="social__list list-reset">
              <li class="social__item">
                <a class="social__link" href="#">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#whatsup"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
          <button class="header__button button button--default button--font-lit button--size-default">
            Начать проект
          </button>
        </div>
    </div>
  </div>
</header>
