@media (prefers-color-scheme: dark) {
  :root {
    --siniy: #1b3990;
    --chernyy: #fff;
    --osnovnoy-tekst: rgba(255, 255, 255, 0.8);
    --belyy: #181818;
    --belyyWithOpacity: rgba(#181818, 0.7);
  }
}
